@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    align-items: center;
    justify-content: center;
}

header {
    width: 80%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.5rem;
    color: #62637D;
}

.logo {
    width: 13rem;
}

.logo-img {
    width: 100%;
}

.menu {
    gap: 2rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.items {
    gap: 1.5rem;
    display: flex;
}

.menu-item {
    color: #62637D;
    font-weight: 500;
}

.saiba-mais {
    border: none;
    width: 140px;
    height: 55px;
    border-radius: 50px;
    background-color: #356DFF;
    font-size: 18px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 20px;
    height: fit-content;
}

.texts {
    display: grid;
    gap: 1.5rem;
    width: 50%;
}

.title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -2px;
}

.sub-title {
    font-size: 25px;
    color: #62637D;
    letter-spacing: -1px;
}

.btn-section {
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: #356DFF;
    font-size: 18px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.imagem-homem {
    width: 350px;
}

.imagem-section {
    display: flex;
    align-items: end;
    height: fit-content;
}

.servicos {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to bottom, #e3e3e3 50%, white 50%);
    display: flex;
    align-items: top;
    justify-content: center;
}

.container-servicos {
    background-color: #FAFAFA;
    width: 70%;
    height: 700px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 80px;
}

.title-servicos {
    font-size: 15px;
    background-color: #DAE4FF;
    padding: 12px;
    border-radius: 50px;
    color: #356DFF;
    width: 130px;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
}

.subtitle-servicos {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    width: 75%;
    letter-spacing: -4px;
}

.cards-servicos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.card-servico {
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.ball {
    background-color: #356DFF;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-servico {
    width: 55%;
}

.title-card {
    font-size: 20px;
    font-weight: 900;
}

.text-card {
    font-size: 16px;
    text-align: center;
    color: #62637D;
}

.conte-conosco {
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-conte-conosco {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 100px;
}

.texts-conte-conosco {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.title-conte-conosco {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}

.text-conte-conosco {
    font-size: 18px;
    margin-top: 10px;
    color: #41414f;
    letter-spacing: 1px;
    font-weight: 100;
}

.imagem-conte {
    width: 300px;
}

.clientes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: auto;
    padding-top: 100px;
}

.container-clientes {
    background-color: #FAFAFA;
    width: 70%;
    height: 850px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-clientes {
    font-size: 15px;
    background-color: #DAE4FF;
    padding: 12px;
    border-radius: 50px;
    color: #356DFF;
    width: 130px;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
}

.subtitle-clientes {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    width: 70%;
    letter-spacing: -4px;
}

#carousel {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 60px;
}

#slideshow {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.btn-slide {
    gap: 35px;
    display: flex;
}

.slide {
    background-color: white;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.slide-next {
    background-color: #356DFF;
    border: none;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px;
    color: white;
}

.card {
    background: white;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 460px;
    height: auto;
    font-size: 20px;
    border-radius: 50px 50px 50px 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    animation-duration: 1.2s;
    animation-fill-mode: both;
}

@keyframes slideInRight {
    0% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-5%);
    }
}

.card.active {
    animation-name: slideInRight;
}

.card.hide {
    animation-name: slideOutLeft;
}

.recomendo {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.coment {
    height: 150px;
    display: flex;
    align-items: center;
}

.person {
    height: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.foto {
    border-radius: 50%;
}

.person-name {
    font-weight: bold;
}

.person-profission {
    font-size: 15px;
    color: #41414f;
}

.contato {
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.container-contato {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.text-area {
    width: 50%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.bloco-textos {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.subtitle-contato {
    font-size: 55px;
    font-weight: 800;
    letter-spacing: -4px;
}

.text-contato {
    font-size: 20px;
    color: #41414f;
    font-weight: 100;
    width: 90%;
}

.bloco-endereco {
    width: 70%;
    height: auto;
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.blues {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
}

.blue {
    background-color: #356DFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts-endereco {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    width: 100%;
}

.endereco {
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.64);
    font-size: 20px;
}

.forms-area {
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #000;
    height: 600px;
    gap: 20px;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 15px;
}

input, select{
    width: 90%;
    height: 70px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

textarea {
    width: 90%;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

.mensagem::placeholder {
    font-family: 'DM Sans';
}

.title-form{
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 90%;
    align-self: center;
}

.submit{
    background-color: #356DFF;
    width: 250px;
    height: 60px;
    align-self: end;
    margin-right: 5%;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

footer {
    height: 100px;
    background-color: black;
    width: 100%;
}